{% extends "common/base.html" %}

{% block body_parameters %}
  onload="prepareGoodsTable()"
{% endblock body_parameters %}

{% block content %}
  {% include "hdog/goods_table.html" %}
{% endblock content %}

{% block additional_content %}
  {% if categories_set %}
  <form name="filtersForm">
    <div class="grid-y grid-padding-y filters-column using-all-vheight">
      <div class="cell medium-1 add-content-title">
        <h4>Фильтры</h4>
      </div>
      <div class="cell auto cell-block-y">
        <fieldset class="fieldset filters-fieldset">
          <legend>Категория</legend>
          <grid-y>
            {% for category in categories_set %}
              <div class="cell">
                <input type="checkbox" name="category" value="{{ category.slug }}" id="{{ category.slug }}" {% if category.slug in selected_categories %}checked{% endif %}><label for="{{ category.slug }}">{{ category }}</label>
              </div>
            {% endfor %}
          </grid-y>
        </fieldset>
      </div>
      <div class="cell shrink">
        <input type="checkbox" name="all_store_places" value="true" id="allStoresCheckbox"{% if all_store_places %}checked{% endif %}><label for="all_store_places">Во всех местах хранения</label>
      </div>
      <div class="cell shrink">
        <input type="text" name="goods_name" id="goodsNameInput" placeholder="Наименование" {% if goods_name %}value="{{ goods_name }}"{% endif %}>
      </div>
      <div class="cell shrink">
        <fieldset class="fieldset filters-fieldset">
          <legend>Наличие</legend>
          <grid-y>
            <div class="cell">
              <input type="radio" name="in_stock" value="1" id="in_stock" {% if get_only_in_stock == 1 %}checked{% endif %}><label for="in_stock">В наличии</label>
            </div>
            <div class="cell">
              <input type="radio" name="in_stock" value="0" id="out_of_stock" {% if get_only_in_stock == 0 %}checked{% endif %}><label for="out_of_stock">Отсутствует</label>
            </div>
            <div class="cell">
              <input type="radio" name="in_stock" value="2" id="in_stock" {% if get_only_in_stock == 2 %}checked{% endif %}><label for="in_stock">Все</label>
            </div>
          </grid-y>
        </fieldset>
        <input type="submit" class="button filters-button" value="Применить">
        <input class="secondary button filters-button" onclick="resetGoodsFilter()" value="Сбросить">
      </div>
    </div>
  </form>
  {% endif %}
{% endblock additional_content %}
