{% extends "common/base.html" %}

{% block content %}
  <div class="grid-y">
    <form method="post">
      {% csrf_token %}
      <div class="cell cell-block-container">
        <div class="grid-x grid-padding-x no-margin-right">
          <div class="cell large-2 shrink">
            <input type="number" min="0" step="1" name="number" id="transferNumber" placeholder="Номер">
          </div>
          <div class="cell shrink items-centered no-padding-right">
            <p><label for="transferDate">Дата:</label> </p>
          </div>
          <div class="cell small-6 medium-3 large-2">
            <input type="date" name="date" id="transferDate">
          </div>
        </div>
      </div>
      <div class="cell">
        <textarea name="comment" id="transferComment" rows="3" placeholder="Комментарий"></textarea>
      </div>
      
      <input type="hidden" name="form-TOTAL_FORMS" value="1">
      <input type="hidden" name="form-INITIAL_FORMS" value="1">
      <input type="hidden" name="form-MAX_NUM_FORMS" value="">
      <div id="goodsRowsContainer"></div>

      <div class="cell">
        <button class="hollow button success" type="button" onclick="addNewRow()">Добавить ещё один ТМЦ</button>
      </div>
      <div class="cell">
        <button class="button success" type="submit">Сохранить</button>
      </div>
    </form>
    {% include "common/transfer_form_goods_row.html" %}
  </div>
{% endblock content %}

{% block js %}
  <script type='text/javascript'>
    $(document).ready(function () {
      $('<div/>', {
         'class' : 'goods-transfer-row', 'id' : 'row0', html: GetGoodsRowHtml()
      }).appendTo('#goodsRowsContainer');
    })
  </script>
{% endblock js %} 
