{% if not goods_set %}
  <p>Нет ни одного ТМЦ, удовлетворяющего выбранным условиям</p>
{% else %}
  <table>
  <thead>
    <tr>
      <th>№</th>
      {% if display_store_in_table %}
      <th>Место хранения</th>
      {% endif %}
      <th>Категория</th>
      <th>Наименование</th>
      <th>Количество</th>
    </tr>
  </thead>
  <tbody>
    {% for goods in goods_set %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% if display_store_in_table %}
        <td>{{ goods.store_place }}</td>
        {% endif %}
        <td>{{ goods.category }}</td>
        <td>{{ goods.name }}</td>
        <td>{{ goods.quantity }} {{ goods.measure.national_symbol }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

