.user_name {
  color: gray;
  margin-bottom: -1.5em;
}

.base-page-containter {
  max-width: 100%;
}

.stretched-by-y-grid {
  height: 100%;
}

.filters-column {
  max-width: 25em;
}

.filters-fieldset {
  margin-top: -0.75em;
}

.filters-button {
  width: 9em;
}

.goods-transfer-row-template {
  display: none;
}

.goods-transfer-row {
  margin-top: 2rem;
}

.no-margin-right {
  margin-right: 0rem !important;
}

.no-padding-right {
  padding-right: 0rem !important;
}

.no-padding-left {
  padding-left: 0rem !important;
}

.items-centered {
  display: flex;
  align-items: center;
}

.items-aligned-at-end {
  display: flex;
  align-items: end;
}

.grid-padding-x > .cell .quantity-label {
  padding-right: 0.6rem;
}

.close-btn {
  cursor: pointer;
  color: red;
}

.hidden {
  display: none;
}
