.user_name {
  color: gray;
  margin-bottom: -1.5em;
}

.base-page-containter {
  max-width: 100%;
}

.stretched-by-y-grid {
  height: 100%;
}

.filters-column {
  max-width: 25em;
}

.filters-fieldset {
  margin-top: -0.75em;
}

.filters-button {
  width: 9em;
}

.using-all-vheight {
  height: 100vh;
}

.add-content-title {
  height: 73px;
}

.goods-row:hover {
  background: lightblue;
  cursor: pointer;
}

td a.table-row-link {
  display: block;
  color: inherit;
}

.pagination-bar {
  display: flex;
  justify-content: center;
}

html {
  font-size: 14px;
}
